body {
    background-color: rgb(200, 200, 200);
    width: 80vw;
    padding-left: 20%;
}

nav.style_nav {
    margin: 0 auto;
    height: 2rem;
    min-width: 20%;
    text-align: center;
    background-color: white;
}

nav.style_nav>a {
    margin-right: 1.5rem;
    display: inline-block;
    text-decoration: none;
    height: 2rem;
    width: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
    transition: 1s;
}

nav.style_nav>a:hover {
    background-color: silver;
}

article.style_article {
    margin: 0;
    height: 70%;
    width: 80%;
    text-align: justify;
    background-color: aliceblue;
    padding-bottom: 25px;
}

article.style_article>p {
    margin: 0;
    padding: 1.625rem 1.625rem 5rem 1.625rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

article.style_article>h1 {
    margin: 0;
    padding: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

footer>p {
    margin-top: 0;
    padding: 1rem;
}